body{
  font-family:Arial, Helvetica, sans-serif
}

div{
  background-color: hsl(0, 0%, 90%);
  padding: 10px;
}

header {
  height: 100px;
  display: flex;
}

header img {
  height: 80%;
  display: inline-block;
}

